<div align="center">
  <h2>Login</h2>
  <!-- <form action='/signin' method='post'>
    <input type='text' name='username' placeholder='Username'><br>
    <input type='password' name='password' placeholder='Password'><br />
    <input type='submit' value='Submit'>
  </form> -->
<!--
  <form action='/signin' method='post' role='form'>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" placeholder="Username" name='Username'>
    </div>
    <div class="input-group">
      <input type='text' name='password' placeholder='Password' class="form-control">
    </div>
    <button type='submit' class="btn btn-default">Sign In</button>
  </form> -->
  <form action="/signin" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
  <button type='submit' class="btn btn-default">Sign In</button>
</form>
</div>
